@page "/"

<h1>Wired Brain Coffee</h1>

<AuthorizeView>
    <Authorized>
        Welcome to the coffe browser app.
    </Authorized>
    <NotAuthorized>
        Please login
    </NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Admin">
    <div>
        This is only visible for admins
    </div>
</AuthorizeView>